* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  height: 55px;
  width: 110px;
  background-image: url(amazon_logo.png);
  background-size: cover;
}
.border:hover {
  border: 2px solid white;
}
/* for box 2 */
.add-one {
  color: #d6d6d6;
  font-size: 0.8rem;
  margin: 0 0 0 15px;
}
.icon {
  color: #fff;
  font-size: 1rem;
  display: flex;
  text-align: center;
}
.ind {
  margin: 0 0 0 5px;
  text-align: center;
}
.nav-address:hover {
  border: 3px solid white;
}

/* Box 3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 5px;
  margin-left: 15px;
}
.select-search {
  width: 52px;
  height: 40px;
  background-color: #e6e6e6;
  color: #0f1111;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  text-align: center;
}
.input-search {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 177, 0);
  font-size: 1.2rem;
  color: #0f1111;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-search:hover {
  border: 3.5px solid rgb(255, 177, 0);
}
/* Box 4 */
span {
  font-size: 0.7rem;
}
.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-signin:hover {
  border: 2px solid white;
}
/* cart */

.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-cart:hover {
  border: 2px solid white;
}
/* panel */

.panel {
  height: 40px;
  display: flex;
  background-color: #222f3d;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
}
.panel-opt a {
  display: inline;
  margin: 0 0 0 15px;
  text-decoration: none;
  color: white;
}
.panel-opt {
  width: 70%;
  font-size: 0.85rem;
}
.panels-deals a {
  font-size: 0.9rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
/* hero section */
.hero-section {
  background-image: url(hero_image.jpg);
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.85rem;
  width: 90%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007785;
  text-decoration: none;
}
/* shopping section */
.box {
  width: 350px;
  height: 400px;
  background-color: white;
  /* border: 1px solid black; */
  padding: 20px 0px 15px;
  margin-top: 15px;
}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box-img {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content a {
  color: #007785;
}
/* footer */
.foot-panel1 {
  margin-top: 50px;
}
.foot-panel1 a {
  height: 50px;
  background-color: #37475a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.foot-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-panel2 p {
  font-weight: 700;
}
li a {
  font-size: 0.85rem;
  text-decoration: none;
  color: #dddddd;
  list-style-type: none;
}
.amazon-payment {
  margin-bottom: 43px;
}
.foot-panel3 {
  border-top: 0.5px solid #fff;
  background-color: #222f3d;
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-logo {
  background-image: url(amazon_logo.png);
  width: 75px;
  height: 30px;
  background-size: cover;
}
.foot-logo:hover {
  border: 2px solid white;
}
.foot-globe {
  width: 115px;
  height: 35px;
  display: flex;
  align-items: center;

  justify-content: center;
}
.foot-globe:hover {
  border: 2px solid white;
}
.country {
  width: 115px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.country:hover {
  border: 2px solid white;
}
.foot-globe p {
  margin-left: 5px;
}
.currency {
  margin-left: 5px;
  width: 115px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency p {
  margin-left: 5px;
  font-size: 0.8rem;
  text-align: center;
}
.currency i {
  margin-left: 5px;
}
.currency:hover {
  border: 2px solid white;
}
.foot-panel4 {
  height: 80px;
  background-color: #0f1111;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}
.foot-text a {
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
}
.foot-text {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}
.foot-copyright {
  padding: 5px;
}
